/* @font-face {
    font-family: 'LaGiocondaOSTT';
    src: url('../fonts/la-gioconda-os-tt.eot');
    src: url('../fonts/la-gioconda-os-tt.eot?#iefix') format('embedded-opentype'), url('../fonts/la-gioconda-os-tt.woff2') format('woff2'), url('../fonts/la-gioconda-os-tt.woff') format('woff'), url('../fonts/la-gioconda-os-tt.ttf') format('truetype'), url('../fonts/la-gioconda-os-tt.svg#youworkforthem') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
} */

$sans: brandon-grotesque, sans-serif;
$serif: "LaGiocondaOSTT", serif;
