// Block - Gallery.
.block--gallery{
	.gallery{
		&__item{
			&.object-fit img{
				width: 100%;
				height: 20vw;
				min-height: 240px;
			}
		}
	}

	// Gallery Slider.
	&--slider{
		.gallery{
			&__item{
				&.object-fit img{
					height: 30vw;
					max-height: 500px;
				}
			}
		}
	}
}
