@charset "UTF-8";
.background-black {
  background-color: #000;
}

.color-black {
  color: #000;
}

.background-white {
  background-color: #fff;
}

.color-white {
  color: #fff;
}

.background-primary {
  background-color: #13212e;
}

.color-primary {
  color: #13212e;
}

.background-secondary {
  background-color: #05E5C8;
}

.color-secondary {
  color: #05E5C8;
}

.color-inherit {
  color: inherit !important;
}

/*
	Menu bar
*/
#wp-admin-bar-wp-logo > .ab-item {
  pointer-events: none;
}

/*
	At a glance widget
*/
#dashboard_right_now .code-snippet-count a:before {
  content: "\F475";
}

/*
	Show a field only for the TWK media team
*/
.twk-only {
  display: none;
}

body.user-id-1 .twk-only {
  display: block;
}

/*
	ACF Radio Colors
*/
/* primary : <span class="color-choice color-choice--primary" title="Primary">Primary</span> */
.color-choice {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
  margin: 0px 5px 5px;
  border: 1px solid transparent;
}
.color-choice--transparent {
  background-color: transparent;
  border-color: black;
}
.color-choice--primary {
  background-color: #13212e;
}
.color-choice--secondary {
  background-color: #05E5C8;
}

/* left : <span class="alignment-choice alignment-choice--left" title="Left">Left</span> */
.alignment-choice {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.alignment-choice--left {
  background: url("../img/admin/align-left.svg") no-repeat;
}
.alignment-choice--right {
  background: url("../img/admin/align-right.svg") no-repeat;
}
.alignment-choice--center {
  background: url("../img/admin/align-center.svg") no-repeat;
}

/* video : <span class="media-choice media-choice--video" title="Video">Video</span> */
.media-choice {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.media-choice--picture {
  background: url("../img/admin/picture.svg") no-repeat;
}
.media-choice--video {
  background: url("../img/admin/video.svg") no-repeat;
}

/* full : <span class="border-choice border-choice--full" title="Full">Full</span> */
.border-choice {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.border-choice--full {
  background: url("../img/admin/border-full.svg") no-repeat;
}
.border-choice--center {
  background: url("../img/admin/border-center.svg") no-repeat;
}
.border-choice--top {
  background: url("../img/admin/border-top.svg") no-repeat;
}
.border-choice--bottom {
  background: url("../img/admin/border-bottom.svg") no-repeat;
}
/*# sourceMappingURL=admin-style.css.map*/