@media print {
    
    /* General Print Reset Styles */
    
    
    * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
    float:none !important;
    }
    
    .top-nav {
        display:none;
    }
    
    .the-banner {
        padding-top:40px;
    }
    
    .page-intro {
        padding:20px 0;
    }
    
    footer {
        display:none;
    }
    
    h1 {
        font-size:36px !important;
    }
    
    h2 {
        font-size:24px !important;
        margin:0;
    }
    
    h3, h4 {
        font-size:18px !important;
    }
    
    p, li, a, div {
        font-size:16px !important;
    }
    
    div {
        padding:5px !important;
    }
    
    .container .container-fluid {
        padding:10px;
    }
    
    .outro-button {
        display:none;
    }
    
/* CV Print Styles */

    .tagline-descriptions {
        margin:0 auto;
        margin-top:-50px;
    }
    
    .profile-content {
        page-break-after: always !important;
    }
    
    .tagline-descriptions .tagline-description {
        display:inline-block !important;
        width:80%;
        padding:10px;
        background-color:white !important;
        border:0;
    }
    
    .tagline-description h2 {
        display:none;
    }
    
    .tagline-description h3 {
    }
    
    .employment {
        margin-bottom:0;
    }
    
    .employment h2 {
        page-break-before: always !important;
    }
    
    .employment-history-one, .employment-history-two {
        background-image:none !important;
        margin:0 !important;
        flex: 0 0 100% !important;
        margin-left:0 !important;
    }
    
    .performance-tile {
        opacity:0;
        display:none;
    }
    
    .employer-wrapper a {
        display:none;
    }
    
    .education-wrapper * {
        margin:0;
    }
    
    .company-logo {
        transform:scale(0.7) !important;  
    }
    
    .education {
        background-color:white !important;
    }
    
    .education h2 {
        color:#222 !important;
    }
    
    .education-image {
        display:none;
    }
    
    .other-work div {
        margin-bottom:10px !important;
        padding:0;
    }
    
}