.banner {
	position: relative;
	z-index: 0;
	overflow: hidden;
	
	// Banner types
	&--media{
		height: 25vw;
		min-height: 250px;

		.video{
			video{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
				overflow: hidden;
			}
		}
	}
	// ----- banner types -----

	&--full-height{
		height: calc( 100vh - 74px ); // To be changed
	}
}