.button {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: rem(12px);
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: solid 2px $primary;
    border-radius: 2px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
	cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: white;
        width: 5px;
        height: 70%;
        top: 15%;
        @include tran-prefix(all 0.4s ease-in-out);
    }
    &:before {
        left: -3px;
    }
    &:after {  
        right: -3px;
    }
    &:hover {
        &:before,
        &:after {
            height: 0;
            top: 50%;
        }
    }
    @include tran-prefix(0.2s all ease-in);
    &--full-width {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    &--is-active {
        pointer-events: none;
        color: white;
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
    @media screen and (max-width: 767px) {
        &.sm-full-width {
            display: block;
            text-align: center;
            margin-right: 0;
        }
	}
}