body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $base-font-size;
	font-family: $sans;
}

////BASE THEME STYLING
.base-theme-padding {
    padding: 100px 0;
}
////DELETE FOR NEW THEME