.top-nav {
    ///BASE THEME STYLING
    background-color: $primary;
    width: 100%;
    padding: 25px;
    /////////////////////  
    ul {
        @include beauty-lists;
        li {
			display: inline-block;
            a {
                padding: 20px;
                color: #FFFFFF;
                font-size: rem(14px);
                letter-spacing: 1px;
                text-transform: uppercase;
                position: relative;
                &:after {
                    position: absolute;   
                    content: '';        
                    left: 50%;
                    width: 0;
                    height: 1px;
                    bottom: 10px;
                    background-color: $secondary;
                    @include tran-prefix(all 0.3s ease-in);
                }
                &:hover {
                    text-decoration: none;
                    &:after {
                        width: calc(100% - 40px);
                        left: 20px;  
                    }
                }
            }
            &.current_page_item {   
                a:after {
                    width: calc(100% - 40px);
                    left: 20px;
                }
            }
        }
    }
    &__logo {
        img {
            width: 250px;
        }   
    }
}

.menu-main-container {
    padding-top: 40px;
}