.search-result {
    margin: 40px 0;
    a {
        color: $secondary;
    }
	.image-contain{
		width: 120px;
		height: 120px;
		float: left;
		margin-right: 30px;
		background-size: cover;
		background-position: center;
	}
}

.search-type {
    text-transform: uppercase;
}

