.sidebar {
    &__sec {
        margin-bottom: 30px;
    }
    &__title {
        color: $primary;
        font-size: rem(19px);
        line-height: lh(19, 30);
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
}
