.tabs{

    &__controls{
        
        font-weight: bold;
        .col{
            position: relative;
            padding: 27px 0;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                height: 5px;
                width: 100%;
                top: 0;
                left: 0;
                background: $black;
                opacity: 0;
                transition: 0.2s linear;
            }
            &:hover{
                &:before{
                    opacity: 1;
                }
            }
            opacity: 0.6;
            &[aria-selected="true"]{
                opacity: 1;
                &:before{
                    opacity: 1;
                }
            }
            span{
                pointer-events: none;
            }
        }
        button{
            border: none;
            background: none;
        }
    }
    
    &__content{
        margin: 60px 0;
    }
}