.title {
	font-family: $serif;

    &--2xs{
        
    }
    
    &--xs{
        @include font-size(16px, 21px);
    }
    
    &--sm{
        @include font-size(24px, 32px);
    } 
    
    &--md{
        @include font-size(30px, 28px);
    } 
    
    &--lg{
        @include font-size(42px, 52px);
    } 
    
    &--xl{
        @include font-size(64px, 64px);
    }
    
    &--2xl{
        
    }
}

.text{
	font-family: $sans;
}

// Utilities
.font-sans{
	font-family: $sans !important;
}
.font-serif{
	font-family: $serif !important;
}
